.contenedor {
    background-color: #0C1348;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.pista-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid transparent;
}

.pistaV{
    display: flex;
    width: 18vw;
    height: 12vw;
    border: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: rgb(236, 236, 236);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 1rem;
}
.pistaH{
    display: flex;
    width: 12vw;
    height: 18vw;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: rgb(236, 236, 236);
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.2rem;
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.vacio{
    width: 18vw;
    height: 18vw;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: rgb(236, 236, 236);
}
.grid-container{
    
    display: inline-block;
    height: max-content;
}

.row-container{
    display: flex;
}

.square{
    width: 12vw;
    height: 12vw;
    border: 1px solid white;
}

.lado-derecho{
    border-right: 2px solid white;
}
.lado-bajo{
    border-bottom: 2px solid white;
}
.modal-content{
    position: -219px;
}

.lado-derecho1 {
    border-right: 1px solid white;
}

.lado-bajo1 {
    border-right: 1px solid white;
}

.square {
    background-color: rgb(86, 93, 148);
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(86, 93, 148);
    border-color:rgb(86, 93, 148)
}